/audio_src/g7-str.wav
/audio_src/a-str.mid
/audio_src/a-str.wav
/audio_src/a7-str.mid
/audio_src/a7-str.wav
/audio_src/am-str.mid
/audio_src/am-str.wav
/audio_src/b7-str.mid
/audio_src/b7-str.wav
/audio_src/c-str.mid
/audio_src/c-str.wav
/audio_src/c7-str.mid
/audio_src/c7-str.wav
/audio_src/d-str.mid
/audio_src/d-str.wav
/audio_src/d7-str.mid
/audio_src/d7-str.wav
/audio_src/dm-str.mid
/audio_src/dm-str.wav
/audio_src/e-str.mid
/audio_src/e-str.wav
/audio_src/e7-str.mid
/audio_src/e7-str.wav
/audio_src/em-str.mid
/audio_src/em-str.wav
/audio_src/f-str.mid
/audio_src/f-str.wav
/audio_src/fmaj7-str.mid
/audio_src/fmaj7-str.wav
/audio_src/g-str.mid
/audio_src/g-str.wav
/audio_src/g7-str.mid
/project.org
